<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <br><br><br><br>
    <div class="container text-center">
        <form method="POST" class="post-form" action="">
            {% csrf_token %}
            <div class="container form-group text-centre">
                <div class="input-group mb-3">
                    <span class="input-group-text">ID</span>
                    {{form.F_id}}
                </div>

                <div class="input-group mb-3 form-group">
                    <span class="input-group-text">Name</span>
                    {{form.F_name}}
                </div>
                <div class="input-group mb-3 form-group">
                    <span class="input-group-text">Salary</span>
                    {{form.F_salary}}
                </div>
                <div class="input-group mb-3 form-group">
                    <span class="input-group-text">Goals</span>
                    {{form.F_goals}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>