{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-image: url('/static/2.jpg');">
    <table class="table table-bordered table-transparent text-white">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Goals</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for footballer in footballers%}
            <tr>
                <th scope="row">{{footballer.F_id}}</th>
                <td>{{footballer.F_name}}</td>
                <td>{{footballer.F_salary}}</td>
                <td>{{footballer.F_goals}}</td>
                <td>
                    <button class="btn text-black"><a href="/edit/{{footballer.F_id}}">Edit</a></button>                    
                    <button class="btn text-black"><a href="/delete/{{footballer.F_id}}">Delete</a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <button onclick="window.location.href='/entry'" class="btn btn-primary">Create New</button>
    </div>
</body>

</html>